@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');
/* CUSTOM SCROLLBAR*/


::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: rgba(125, 125, 125, 0.2)
}

::-webkit-scrollbar-thumb {
	background: #d36a44;
}

* {
	overflow-x: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'CharukolaUltraLight', sans-serif;
	color: #eee;
	line-height: 1.6;
	background: linear-gradient(#575000, #530505);
}

/* main */
header {
	z-index: 10;
}

.header-banner {
	background-color: #333;
	background-image: url('bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

header h1 {
	font-size: 72px;
	background: -webkit-linear-gradient(#ff7676, #fff03d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'CharukolaUltraLight', sans-serif;
	padding: 0 1rem;
	position: absolute;
	top: 3rem;
	left: 3rem;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

nav {
	width: 100vw;
	padding: 5px;
	height: 80px;
	background: rgba(0, 0, 0, 0.4);
	postion: fixed;
	z-index: 10;
}

nav div {
	color: white;
	font-size: 2rem;
	line-height: 60px;
	position: relative;
	top: 0;
	left: 2%;
	visibility: hidden;
}

.visible-title {
	visibility: visible;
}

nav ul {
	list-style-type: none;
	margin: 0 2% auto 0;
	padding-left: 0;
	text-align: right;
	max-width: 100%;
}

nav ul li {
	display: inline-block;
	line-height: 60px;
	margin-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #fff3c0;
}

/* demo content */

.content {
	margin: 0 auto;
	padding: 4rem 0;
	width: 90vw;
	max-width: 100%;
	/*position: relative;*/
	margin-top: 10vh;
}



article: p {
	padding-top: 2em;
}

aside {
	float: right;
	width: 120px;
}

p img {
	max-width: 100%;
}

footer {
	height: 5vh;
	background-color: #111;
	text-align: center;
	padding: 2.5vh;
}

@media only screen and (max-aspect-ratio: 1/1) {
	.content {
		padding: 2rem 0;
	}

	article {
		float: none;
		margin: 0 auto;
		width: 96%;
	}

	article:last-of-type {
		margin-bottom: 3rem;
	}

	aside {
		float: none;
		text-align: center;
		width: 100%;
	}
}
